# accelerate
bitsandbytes
bert_score
datasets
deepspeed==0.16.3
einops
# flash-attn==2.7.0.post2
# flash-attn==2.5.8
graphviz
isort
jsonlines
loralib
matplotlib
nltk
numpy
optimum
optree
packaging
peft
pyproject-toml
pynvml>=12.0.0
# ray[default]==2.42.0
rich
scipy
sentencepiece
tensorboard
tokenizers>=0.13.3
torch
torchmetrics
tqdm
trl @ git+https://github.com/qordmlwls/trl.git
# transformers==4.48.3
transformers_stream_generator
wandb
wheel
func-timeout